<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.fridgecompanion">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_INTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_INTERNAL_STORAGE" />

    <application
        android:name=".MainApplication"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:requestLegacyExternalStorage="true"
        android:theme="@style/Theme.FridgeCompanion">
        <activity android:name=".ItemEntryActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/title_item_entry">
            <intent-filter>
                <action android:name="your.action.profile" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ItemViewActivity" />
        <activity
            android:name=".MainActivity"
            android:label="@string/title_activity_main" />
        <activity android:name=".StartActivity"
            android:theme="@style/LaunchTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".LogInActivity" />
        <activity android:name=".SignUpActivity" />
        <activity android:name=".AfterSignInActivity" />
        <activity android:name=".BarcodeScanner" />
        <activity android:name=".ui.setting.ProfileActivity"/>
        <activity android:name="com.soundcloud.android.crop.CropImageActivity"/>

        <provider
            android:authorities="com.fridgecompanion"
            android:name="androidx.core.content.FileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths"/>
        </provider>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
        <meta-data
            android:name="CLOUDINARY_URL"
            android:value="cloudinary://foreverzhang98"/>
    </application>

    <uses-feature android:name="android.hardware.Camera.autofocus" />


</manifest>